.venv/*
.node_modules/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
.next
out
.vercel
dist
coverage
__pycache__
__pycache__/api_server.cpython-312.pyc
backend/__pycache__/app.cpython-312.pyc
__pycache__/api_server.cpython-312.pyc
